* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.match-container {
  align-items: center;
  background:  rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.match-second-container {
  display: flex;
  justify-content: space-between;
}
.small-logo {
  width: auto;
  height: 22px;
  font-size: 8px
}

.team-name {
  width: 200px;
  font-weight: normal;
  font-size: 14px;
}

.home-team-name {
  margin-left: auto;
  text-align: right;
  padding-right: 12px;
}

.away-team-name {
  margin-right: auto;
  text-align: left;
  padding-left: 12px;
}

.home-team-logo-container,
.away-team-logo-container {
  width: 70px;
  display: flex;
}

.home-team-logo-container {
  justify-content: flex-end;
}

.logos-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 208px
}

.results {
  font-weight: normal;
}

.match-elapsed-container {
  height: 16px;
  width: 40px;
  border: 1px solid rgb(78, 202, 109);
  border-radius: 3px;
}

.elapsed {
  font-size: 10px;
  color: green;
}

.date {
  color: gray;
  font-size: 10px;
}

.match-status {
  position: absolute;
  color: gray;
  right: 3px;
  border: none;
  font-size: 10px;
}