.main {
  margin-top: 60px;
}

.league-container {
  align-items: center;
  background: rgb(246, 246, 246);
  border-top: 1px solid rgb(107, 100, 100);
  border-bottom: 1px solid rgb(87, 78, 78);
  border: none;
  display: flex;
  height: 40px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.league-name {
  font-weight: normal;
  font-size: 16px;
  padding-left: 20px;
}

.league-logo-container {
width: 110px;
height: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
}

.league-logo {
height: 80%;
width: auto;
margin-left: 10px;
}