.main {
  margin-top: 60px;
}


.league-tabs-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid gray;
  height: 60px;
}

.league-tab {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  position: relative;
}

.league-btn {
  background: transparent;
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.league-btn:hover {
  background: rgba(155, 126, 126, 0.13);
}

.league-tab-inner-container {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
}

.league-tab-name {
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;
}



.league-tab-logo {
  height: 50%;
  width: auto;
}