.league-tab {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  color: #000;
}

.league-btn {
  background: transparent;
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.league-tab-inner-container {
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.league-tab-logo {
  height: 50%;
  width: auto;
  transition: 0.2s;
}

.league-tab-name {
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;
}

.active-league-tab {
  background: rgba(0,0,0,0.1)
}