header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 140px;
  background: rgb(235, 231, 231);
  z-index: 2;
}

.logo {
  height: 100px;
}

.header-tabs-container {
  background: #fff;
  height: 71%;
  width: 100%;
}

.league-tabs-container {
  display: flex;
  width: 100%;
}

.league-tab {
  height: 40px;
  widtH: 200px;
  display: flex;
  border: 1px solid black;
}

.league-tab-name {
  font-weight: normal;
  font-size: 12px;
}

.league-tab-logo {
  height: 90%;
  width: auto;
}