header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  background: #fff;
  z-index: 2;
}

.logo {
  height: 100px;
  position: absolute;
  left: 20px;
}

.header-tabs-container {
  background: rgb(78, 72, 72);
  height: 100px;
  width: 100%;
}