header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100vw;
  position: relative;
}

.logo {
  height: 100px;
  position: absolute;
  left: 20px;
}

.header-tabs-container {
  background-image: linear-gradient(lightgray, rgba(211, 211, 211, 0.507));
  height: 100px;
  width: 100%;
}